{% load compress %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <!-- Los favicoñes -->
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "favicon/apple-touch-icon-57x57.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "favicon/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "favicon/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "favicon/apple-touch-icon-144x144.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "favicon/apple-touch-icon-60x60.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "favicon/apple-touch-icon-120x120.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "favicon/apple-touch-icon-76x76.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "favicon/apple-touch-icon-152x152.png" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-196x196.png" sizes="196x196" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-96x96.png" sizes="96x96" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-32x32.png" sizes="32x32" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-16x16.png" sizes="16x16" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-128.png" sizes="128x128" %}" />
    <meta name="application-name" content="Brian Tully" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static "favicon/mstile-144x144.png" %}" />
    <meta name="msapplication-square70x70logo" content="{% static "favicon/mstile-70x70.png" %}" />
    <meta name="msapplication-square150x150logo" content="{% static "favicon/mstile-150x150.png" %}" />
    <meta name="msapplication-wide310x150logo" content="{% static "favicon/mstile-310x150.png" %}" />
    <meta name="msapplication-square310x310logo" content="{% static "favicon/mstile-310x310.png" %}" />

    <!-- Le styles -->
    {% compress css %}
    <link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jqcloud.css" />
    <link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/standard.css" />
    <link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/whimsical.timeline.css" />
    <link media="all" rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/whimsy.less" />
    <link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/style.css" />
    {% endcompress %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/standard.print.css" media="print" />

    <title>Brian Tully</title>

  </head>

  <body>
    <div id="wrapper">
      <div>
        <div class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brian T. Tully</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a id="interactive" href="">Interactive</a></li>
                <!--<li><a id="standard" href="">Standard</a></li>-->
                <li id="downloadLink"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       Contact Me!
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="mailto:brian.tully@gmail.com?subject=About your resume..."><span class="icomoon icon icon-envelope" aria-hidden="true"></span><span>Email Me!</span></a></li>
                    <li><a href="https://twitter.com/briantully"><span class="icomoon icon icon-twitter-2" aria-hidden="true"></span><span>Tweet Me!</span></a></li>
                    <li><a href="https://www.facebook.com/briantully"><span class="icomoon icon icon-facebook" aria-hidden="true"></span><span>Stalk Me!</span></a></li>
                    <li><a href="https://www.linkedin.com/in/briantully"><span class="icomoon icon icon-linked" aria-hidden="true"></span><span>Connect with Me!</span></a></li>
                    <li><a href="https://github.com/briantully"><span class="icomoon icon icon-github-2" aria-hidden="true"></span><span>Clone Me!</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
          <div id="page-contents">
          </div>
        </div>
        <div id="push"></div>
      </div>

      <footer>
        <span class='browsers pull-right'>Tested on:
          <span title="v.21" class="icomoon icon icon-firefox" aria-hidden="true"></span>
          <span title="v.9/10" class="icomoon icon icon-IE" aria-hidden="true"></span>
          <span title="v.27" class="icomoon icon icon-chrome" aria-hidden="true"></span>
        </span>
        <span>Original design/code by <a href="http://webandwhimsy.com" target="_blank">Diana Whitten</a>.
          <br>Tweaked by yours truly.</span>
      </footer>
    </div>

    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.11.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/whimsical.timeline.js"></script>
    <script src="{{ STATIC_URL }}js/jqcloud-1.0.4.min.js"></script>
    {% endcompress %}


    <script>
      $(document).ready(function() {

        /* resume download */
        var downloadLink = $('#downloadLink');
        downloadLink.append($('<a>')
          .attr('data-toggle', 'tooltip')
          .attr('data-placement', 'bottom')
          .attr('title', "Download my resume")
          .attr('href', 'http://tinyurl.com/btully-resume-04-2016')
          .attr('download', 'Brian-Tully-resume.pdf')
          .attr('target', '_blank')
          .addClass('resume-link')
          .append('<span class="icomoon icon icon-pdf" aria-hidden="true"></span')
        );
        if (!('download' in downloadLink.children('a:first').get(0))) {
           downloadLink.append(' (right-click and choose Save Link as...")');
        }

        /* tooltips */
        $('.browsers').find('.icomoon').tooltip();
        downloadLink.find('.resume-link').tooltip();

        $('.nav > li > a').click(function(e) {

          var $this = $(this);
          var this_id = $this.attr('id');

          if (this_id) {
            e.preventDefault();
            $('.nav').find('.active').removeClass('active');
            $this.parent().addClass('active');
            $('#page-contents').empty().load('/' + this_id, function(e) {
              if (typeof(window[this_id + "_init"]) === 'function') {
                window[this_id + "_init"]();
              }
            });
          }
        });

        $('#interactive').click();
        //$('#standard').click();

        /* open external links in new window */
        $('a').each(function() {
            var a = new RegExp('/' + window.location.host + '/');
            if (!a.test(this.href)) {
              $(this).attr("target","_blank");
            }
        });
      });
    </script>

  </body>
</html>
